//@media (min-width: $screen-md) {}
//@media (max-width: $screen-md - 1) {}

html {
    font-size: $font-size-normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/*html {
    scroll-behavior: smooth;
}*/

body {
    font-family: $font-family-roboto;
    font-size: 1.6rem;
    //font-weight: $font-weight;
    //line-height: $line-height;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: left;
    word-break: break-word;
    color: $color-dark;
    //background-color: $body-bg;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: $duration-normal $easing-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

li {
    line-height: inherit;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
