.btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    transition: $duration-normal $easing-in;

    &--normal {
        padding: 1.2rem 5.4rem 1.5rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }

    &--accent {
        background: $color-accent;
        color: $color-dark;

        &:hover {
            background: darken($color-accent, 10%);
        }
    }

    &--dark {
        color: $color-dark;
    }

    &--text {
        &-dark {
            color: $color-dark;
        }
    }
}
