.burger {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
    z-index: 100;
}

.burger__line {
    height: 4px;
    width: 36px;
    background: $color-dark;
    transition: $duration-normal $easing-back-out;

    &--top {
        &.active {
            opacity: 0;
            transform: translateY(1000%);
        }
    }

    &--mid {
        margin: 4px 0;
        &.active {
            transform: rotate(45deg);
            background: $color-white;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: inherit;
                background: inherit;
                transform: rotate(-90deg);
            }
        }
    }

    &--bot {
        &.active {
            opacity: 0;
            transform: translateY(-1000%);
        }
    }
}
