.title {

    &--big {
        font-weight: 700;
        font-size: 8rem;
        line-height: 9.4rem;
        letter-spacing: 0.01em;
        margin-bottom: 10rem;
    }

    &--small {
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 0.01em;
    }

    &--smallest {
        font-weight: 700;
        font-size: 2.7rem;
        line-height: 2.8rem;
        letter-spacing: 0.01em;
    }

    &--center {
        text-align: center;
    }

    &--color {
        &-main {
            color: $color-main;
        }
    }
}
