/.idea

/node_modules

/public/hot
/public/storage
/public/assets
/public/fonts
/public/images
/public/css
/public/js
/public/mix-manifest.json
/public/admin/js
/public/admin/js/*.js
/public/front/js
/public/*.js

/database/snapshots

/storage/*.key
/storage/framework/laravel-excel
/vendor

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
