.projects {
    padding-top: 12rem;
    padding-bottom: 20rem;
}

.projects__grid {
    display: grid;
    column-gap: 6.6rem;
    row-gap: 8.9rem;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.projects__slider {
    max-width: 1070px;
}

.projects__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__item-content {
    padding-left: 5.5rem;
}

.projects__item-img {
    border: 6px solid $color-dark;
    border-radius: 50%;
    max-width: 240px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        padding-top: 100%;
        display: block;
    }
    img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.projects__item-title {
    margin-bottom: 2rem;
}

.projects__item-desc {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.01em;
    margin-bottom: 1rem;
    max-width: 565px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}

.projects__slider-all {
    margin-top: 5rem;
}

