// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.6rem;
$font-size-normal: 10px;
$font-size-small: 8px;
$line-height-base: 1.6;

// Colors
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;
$color-main: #2ebddc;
$color-accent: #fffa65;

$bg-light-dark: linear-gradient(151.85deg, rgba(255, 250, 101, 0.8) -2.45%, rgba(46, 189, 220, 0.8) 107.93%);
$bg-dark-light: linear-gradient(151.85deg, rgba(46, 189, 220, 0.8) -2.45%, rgba(255, 250, 101, 0.8) 107.93%);
